*.lnk
*.eps
Example/*
Example_preprocessed/*
Example_SCC/*
PerformanceReports/*
PerformanceReportsIntegrated/*/*.txt
PerformanceReportsIntegrated/unused/*
PerformanceReportsIntegrated/temp/*
AnchorNodes/*
DataPoints/*
CaseStudy/*
CS_Competitors/*
LPCompResults/*
LPEvalResults/*
LPEvalResultsRSize/*
!LPEvalResults/*.gp
env/*
LP_load_solver.jl
