<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Node Counter</title>
</head>
<body>
    <label for="database-name">Database Name:</label>
    <input type="text" id="database-name" value="zachary"><br><br>
    <h2>Run Neo4j Query</h2>
    <label for="any-query">Query:</label>
    <input type="text" id="any-query" name="any-query" value="MATCH p = (n)-[r]->(m) RETURN p LIMIT 100"><br><br>
    <button onclick="executeQuery()">Execute Query</button>
    <p id="result-query"></p>

    <h2>Database Node Counter</h2>
    <button onclick="getNodeCount()">Get Node Count</button>
    <p id="result-node-count"></p>

    <script>
        async function executeQuery() {
            const databaseName = document.getElementById('database-name').value;
            const query = document.getElementById('any-query').value;
            const response = await fetch('http://localhost:8000/execute-query/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `database_name=${encodeURIComponent(databaseName)}&query=${encodeURIComponent(query)}`
            });
            const data = await response.json();
            if (response.ok) {
                document.getElementById('result-query').textContent = 'Query result: ' + JSON.stringify(data);
            } else {
                document.getElementById('result-query').textContent = 'Error: ' + (data.detail || 'Failed to execute query');
            }
        }
        async function getNodeCount() {
            const databaseName = document.getElementById('database-name').value;
            const response = await fetch('http://localhost:8000/get-node-count/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `database_name=${encodeURIComponent(databaseName)}`
            });
            const data = await response.json();
            if (response.ok) {
                document.getElementById('result-node-count').textContent = 'Node count in "' + databaseName + '": ' + data.node_count;
            } else {
                document.getElementById('result-node-count').textContent = 'Error: ' + data.detail;
            }
        }
    </script>
    <a href="/view-graph/">View Graph</a>
</body>
</html>