<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Node Counter</title>
</head>
<body>
    <label for="database-name">Database Name:</label>
    <input type="text" id="database-name" value="got"><br><br>
    <h2>Run Neo4j Query</h2>
    <label for="any-query">Query:</label>
    <input type="text" id="any-query" name="any-query" value="MATCH p = (n)-[r]->(m) RETURN p LIMIT 10"><br><br>
    <button onclick="executeQuery()">Execute Query</button>
    <p id="result-query"></p>

    <h2>Database Node Counter</h2>
    <button onclick="getNodeCount()">Get Node Count</button>
    <p id="result-node-count"></p>

    <script>
        async function sendPostRequest(url, body, headers = {'Content-Type': 'application/x-www-form-urlencoded'}) {
            const response = await fetch(url, {
                method: 'POST',
                headers: headers,
                body: body
            });
            const data = await response.json();
            if (response.ok) {
                return data;
            } else {
                throw new Error(data.detail || 'Unknown error occurred');
            }
        }

        async function executeQuery() {
            const databaseName = document.getElementById('database-name').value;
            const query = document.getElementById('any-query').value;
            const body = `database_name=${encodeURIComponent(databaseName)}&query=${encodeURIComponent(query)}`;
            const url = 'http://localhost:8000/execute-query/';

            try {
                const result = await sendPostRequest(url, body);
                document.getElementById('result-query').textContent = JSON.stringify(result);
            } catch (error) {
                document.getElementById('result-query').textContent = 'Error: ' + error.message;
            }
        }
        async function getNodeCount() {
            const databaseName = document.getElementById('database-name').value;
            const body = `database_name=${encodeURIComponent(databaseName)}`;
            const url = 'http://localhost:8000/get-node-count/';

            try {
                const data = await sendPostRequest(url, body);
                document.getElementById('result-node-count').textContent = 'Node count in "' + databaseName + '": ' + data.node_count;
            } catch (error) {
                document.getElementById('result-node-count').textContent = 'Error: ' + error.message;
            }
        }

    </script>
    <a href="/view-graph/">View Graph</a>
</body>
</html>