<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Node Counter</title>
</head>
<body>
    <label for="database-name">Database Name:</label>
    <input type="text" id="database-name" value="got"><br><br>
    <h2>Run Neo4j Query</h2>
    <label for="any-query">Query:</label>
    <input type="text" id="any-query" name="any-query" value="MATCH p = (n)-[r]->(m) RETURN p LIMIT 10"><br><br>
    <button onclick="executeQuery()">Execute Query</button>
    <p id="result-query"></p>

    <h2>Database Node Counter</h2>
    <button onclick="getNodeCount()">Get Node Count</button>
    <p id="result-node-count"></p>

    <script src="static/js/core.js"></script>
    <script src="static/js/index.js"></script>
    <a href="/view-graph/">View Graph</a>
</body>
</html>