<!--
    This works
    https://stackoverflow.com/questions/73638594/error-trying-to-visualize-data-from-neo4j-using-neovis-js
-->
<html>

<head>
    <title>DataViz</title>
    <style type="text/css">
        #viz {
            width: 900px;
            height: 700px;
        }
    </style>
    <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
</head>

<script type="text/javascript">
    var viz;
    function draw() {
        var config = {
                containerId: "viz",
                neo4j: {
                    serverUrl: "bolt://localhost:7687",
                    serverUser: "neo4j",
                    serverPassword: "12345678",
                },
                serverDatabase: "got",
                labels: { 
                    Character: {
                        label: "name",
                        value: "pagerank",
                        group: "community",
                    }
                },
                relationships: {
                    INTERACTS: {
                        value: "weight"
                    }
                },
                initialCypher: "MATCH p = (:Character)-[:INTERACTS]->(:Character) RETURN p LIMIT 100"
            };

        viz = new NeoVis.default(config);
        viz.render();
        
    }
</script>

<body onload="draw()">
    <div id="viz"></div>
</body>

</html>